@font-face {
    font-family: 'GimpoBatang';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoBatang.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoBatang.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoBatang.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoBatang.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoBatang.ttf') format("truetype");
    font-display: swap;
} 